<header>
  <div class="header-bar">
    <h1><%= heading %></h1>
    <div class="header-actions">
      <% if (typeof showSetlistToggle === 'undefined' || showSetlistToggle !== false) { %>
        <a href="<%= basePath %>/show/" class="setlist-show-toggle is-hidden" data-setlist-show-toggle aria-label="Show setlist builder" aria-hidden="true" tabindex="-1">
          <span class="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-playlist">
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M11 17a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
              <path d="M17 17v-13h4" />
              <path d="M13 5h-10" />
              <path d="M3 9l10 0" />
              <path d="M9 13h-6" />
            </svg>
          </span>
          <span class="setlist-count-pill" data-setlist-count>0</span>
        </a>
      <% } %>
      <button type="button" class="menu-toggle" data-menu-toggle aria-expanded="false" aria-controls="global-header-menu" aria-label="Open menu">
        <span class="icon icon-menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-menu-2">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M4 6l16 0" />
            <path d="M4 12l16 0" />
            <path d="M4 18l16 0" />
          </svg>
        </span>
        <span class="icon icon-close">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-x">
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M18 6l-12 12" />
            <path d="M6 6l12 12" />
          </svg>
        </span>
        <span class="text">Menu</span>
      </button>
    </div>
  </div>
  <div class="header-menu" data-header-menu aria-hidden="true">
    <button type="button" class="header-menu__scrim" data-menu-close aria-label="Close menu"></button>
    <div class="header-menu__panel" id="global-header-menu">
      <%- include('global-nav', { navClass: 'header-menu__nav', navLabel: 'Header navigation', toggleId: 'switch-theme-header' }); %>
      <% if (typeof showFilters !== 'undefined' && showFilters) { %>
        <%- include('filter-controls'); %>
      <% } %>
    </div>
  </div>
</header>
