// MAIN
main {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 1rem 1rem 0;
  article {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    section {
      overflow: hidden;
      p {
      }
    }
  }
}

@media (min-width: 48rem) {
  main {
    article {
    }
  }
}

@media (min-width: 64rem) {
  main {
    article {
    }
  }
}


// COLUMNS
@media (min-width: 48rem) {
  main {
    article {
      section {
        &.sm {
          column-count: 2;
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  main {
    article {
      section {
        &.sm {
          column-count: 3;
        }
      }
    }
  }
}
