// MAIN
main {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 1rem 1rem 0;
  article {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    column-gap: 2rem;
    section {
      overflow: hidden;
      p {
        position: relative;
        span {
          display: inline-block;
          position: absolute;
          max-width: 0;
          margin-top: -0.875rem;
        }
        span {
          position: relative;
          max-width: none;
          @include transform(translateY(-0.875rem));
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  main {
    article {
      column-count: 2;
      column-gap: 2rem;
    }
  }
}

@media (min-width: 64rem) {
  main {
    article {
      column-count: 3;
    }
  }
}
