// FOOTER
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1rem;
  section {
    padding: 1rem;
    p {
      padding: 0.25rem 0 0;
      font-size: 0.875rem;
      line-height: 1.5;
    }
  }
  section.details {
    figure {
      display: grid;
      max-width: 7.75rem;
      margin: 0;
      img {
        border-radius: 0.5rem;
      }
      figcaption {
        display: none;
      }
    }
    ul {
      margin: 0;
      padding: 1rem 0;
      list-style: none;
      li {
        padding: 0.25rem 0;
        line-height: 1.25;
        span {
          display: inline-block;
          padding: 0 0.5rem 0 0;
          font-weight: bold;
        }
      }
    }
    form {
      display: none;
    }
  }
  section.about {
    display: flex;
    flex-direction: column;
    svg {
      max-width: 36rem;
      fill: $gray;
    }
    .logo {
      display: flex;
      justify-content: center;
      padding: 1rem 1rem 0;
      svg {
        width: 100%;
        max-width: 18rem;
        .white {
          fill: white;
        }
        .gray {
          fill: $gray;
        }
      }
    }
  }
  p.copyright {
    padding: 1rem;
    line-height: 1.25;
    text-align: center;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0;
      padding: 0 1rem;
      list-style: none;
      li {
        padding: 0 0.5rem;
        span.icon {
          display: grid;
          width: 1.25rem;
          height: 1.25rem;
        }
        span.text {
          display: none;
        }
      }
    }
    form {
      fieldset {
        margin: 0;
        padding: 0 1rem;
        border: none;
        label {
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
          width: 100%;
          margin: 0;
          span {
            display: grid;
            width: 1.25rem;
            height: 1.25rem;
          }
          input {
            position: relative;
            top: 0;
            right: 0;
            width: 2.5rem;
            min-width: 2.5rem;
            height: 1.25rem;
            margin: 0 0.5rem;
            padding: 0;
            border: 1px solid $gray;
            border-radius: 2rem;
            @include appearance(none);
            &:after {
              display: block;
              position: absolute;
              top: 0.125rem;
              left: 0.125rem;
              width: 0.875rem;
              height: 0.875rem;
              border-radius: 100%;
              background: $gray;
              content: "";
              @include transition(all 0.25s 0);
            }
            &:checked:after {
              margin-left: 1.25rem;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 46.5rem) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4rem;
    section.details {
      width: calc(100% / 3);
    }
    section.about {
      align-items: flex-end;
      width: calc((100% / 3) * 2);
      .logo {
        justify-content: flex-end;
      }
    }
    p.copyright {
      text-align: right;
    }
    nav {
      margin: 0 0 0 auto;
    }
  }
}

@media (max-width: 63.9375rem) {
  footer {
    nav {
      ul {
        li {
          span.icon {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  footer {
    align-items: flex-start;
    section.about {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      .text {
        width: 65%
      }
      .logo {
        width: 30%;
        padding: 0 0 0 1rem;
      }
    }
  }
}

@media (min-width: 90rem) {
  footer {
    section.details {
      width: 25%;
      max-width: none;
    }
    section.about {
      width: 70%;
    }
  }
}

@media (display-mode: fullscreen) {
  footer {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}


// DARK MODE
html.dark {
  footer {
    section.about {
      svg {
        fill: white;
      }
      .logo {
        svg {
          .white {
            fill: $gray;
          }
          .gray {
            fill: white;
          }
        }
      }
    }
    nav {
      form {
        input {
          border-color: white;
          &:after {
            background: white;
          }
        }
      }
    }
  }
}
