// HEADER
header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 2rem;
  background: white;
  form {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 1rem 0 0;
    fieldset {
      width: 100%;
      margin: 0;
      padding: 0;
      border: none;
      column-span: all;
      label {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        font-size: 0.875rem;
        font-weight: bold;
        line-height: 1.5;
        input[type="text"],
        input[type="search"] {
          margin: 0;
          padding: 0.5rem 0.5rem 0.5rem 2.5rem;
          border: 1px solid $gray;
          border-radius: 0.25rem;
          font-size: 1rem;
          line-height: 1.5;
          color: $gray;
          background: transparent;
        }
        span.label {
          display: none;
        }
        span.icon {
          display: flex;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 2rem;
          height: 2.5rem;
          padding: 0.25rem 0 0.425rem 0.5rem;
          opacity: 0.7;
        }
        button[type="reset"].clear-search {
          display: flex;
          align-items: center;
          position: absolute;
          right: 0.5rem;
          bottom: 0.25rem;
          width: 1.5rem;
          height: 2.125rem;
          opacity: 0;
          @include appearance(none);
          @include transition(all, 0.325s, ease);
        }
        input[type="text"]:not(:placeholder-shown) ~ span.clear-search,
        input[type="text"]:not(:placeholder-shown) ~ button.clear-search {
          opacity: 0.7;
          &:hover, &:focus {
            opacity: 1;
          }
        }
        input[type="checkbox"] {
          position: absolute;
          top: 0;
          right: 0;
          width: 2.5rem;
          min-width: 2.5rem;
          height: 1.25rem;
          margin: 0;
          padding: 0;
          border: 1px solid $gray;
          border-radius: 2rem;
          appearance: none;
          &:after {
            display: block;
            position: absolute;
            top: 0.125rem;
            left: 0.125rem;
            width: 0.875rem;
            height: 0.875rem;
            border-radius: 100%;
            background: $gray;
            content: "";
            @include transition(all, 0.25s, ease);
          }
          &:checked:after {
            margin-left: 1.25rem;
          }
        }
      }
      & + fieldset {
        padding: 1rem 0 0;
      }
    }
  }
}

.header--fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0
}

@media (min-width: 48rem) {
  header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    form {
      padding: 0;
    }
  }
}

html.dark {
  header {
    background: $gray;
    form fieldset {
      input[type="text"],
      input[type="search"],
      input[type="checkbox"] {
        border-color: white;
        color: white;
        &:after {
          background: white;
        }
      }
    }
  }
}


// HEADROOM
.headroom {
  @include transition(all, 0.5s, ease);
  will-change: transform
}

.headroom--pinned {
  @include transform(translateY(0));
}

.headroom--unpinned {
  @include transform(translateY(-100vh));
}
