// MAIN
main {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 0 1rem;
  article {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    section {
      overflow: hidden;
      p {
        overflow: hidden;
        margin: 0;
        break-inside: avoid;
        line-height: 1.125;
        white-space: pre;
        text-overflow: ellipsis;
      }
    }
    section#song:not(p) {
      visibility: hidden;
      line-height: 0;
    }
    section#song p {
      visibility: visible;
    }
  }
}

@media (min-width: 48rem) {
  main {
    article {
      section {
        p {
          white-space: pre-wrap;
          text-overflow: inherit;
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  main {
    article {
    }
  }
}

@media (display-mode: fullscreen) {
  main {
    padding: 1rem 4rem 0;
  }
}


// COLUMNS
@media (min-width: 48rem) {
  main {
    article {
      section {
        &.sm {
          column-count: 2;
          column-gap: 2rem;
        }
        &.md, &.lg {
          column-count: 3;
          column-gap: 2rem;
        }
        &.sm.md {
          column-count: 2;
          column-gap: 2rem;
        }
        &.md.lg {
          column-count: 3;
          column-gap: 2rem;
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  main {
    article {
      section {
        &.sm.md {
          column-count: 3;
        }
        &.md.lg {
          column-count: 4;
        }
        &.lg {
          column-count: 5;
        }
      }
    }
  }
}


// INDEX
main.index {
  padding-top: 1rem;
  article {
    section {
      h1, h2, h3 {
        column-span: all;
      }
      h3 {
        padding: 1rem 0 0;
      }
      p {
        padding: 0;
        line-height: 1.5;
        white-space: normal;
        a {
          font-weight: normal;
          text-decoration: none;
          &:hover, &:focus {
            text-decoration: underline;
          }
        }
      }
      h2 + p {
        padding: 0;
        font-size: 1rem;
        line-height: 1.125;
        column-span: all;
      }
      h4 {
        padding: 1rem 0 0;
        font-size: 1.25rem;
      }
      h4 + p {
        break-before: avoid;
      }
    }
  }
}

@media (min-width: 48rem) {
  main.index {
    article {
      section {
        column-count: 2;
        column-gap: 2rem;
        p {
          white-space: normal;
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  main.index {
    article {
      section {
        column-count: 3;
      }
    }
  }
}


// ALERTS
.alert {
  display: grid;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  @include transition(all, 0.5s, ease);
  @include transform(translateY(-100vh));
  &.show {
    @include transform(translateY(0));
  }
  .message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
    &.note {
      color: white;
      background: $gray;
    }
    p {
      padding: 0 1rem 0 0.25rem;
    }
    span, button {
      display: grid;
      max-width: 2rem;
      max-height: 2rem;
      svg {
        width: 100%;
        height: auto;
      }
      &.close {
        max-width: 1.5rem;
        max-height: 1.5rem;
        cursor: pointer;
        @include transition(opacity, 0.25s, ease);
        &:hover, &:focus {
          opacity: 0.5;
        }
      }
    }
  }
}


// ALERTS DARK MODE
html.dark {
  .alert {
    .message {
      &.note {
        color: black;
        background: white;
      }
    }
  }
}


// ALERTS INFO BUTTON
.info {
  display: grid;
  position: absolute;
  top: 1rem;
  right: 1rem;
  margin: 0;
  padding: 0;
  button {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    margin: auto;
    padding: 0;
    border: 1px solid $gray;
    border-radius: 100%;
    font-weight: bold;
    color: white;
    background: $gray;
    &:hover, &:focus {
      color: $gray;
      background: white;
    }
  }
}

@media (display-mode: fullscreen) {
  .info {
    top: 2rem;
    right: 4rem;
  }
}


// ALERTS INFO BUTTON DARK MODE
html.dark {
  .info {
    button {
      border-color: white;
      color: $gray;
      background: white;
      &:hover, &:focus {
        color: white;
        background: $gray;
      }
    }
  }
}
