// MAIN
main {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 0 1rem;
  article {
    position: relative;
    overflow: hidden;
    padding: 0 1rem;
    section {
      overflow: hidden;
      p {
        overflow: hidden;
        margin: 0;
        break-inside: avoid;
        line-height: 1.125;
        white-space: pre;
        text-overflow: ellipsis;
      }
    }
    section#song:not(p) {
      visibility: hidden;
      line-height: 0;
    }
    section#song p {
      visibility: visible;
    }
    @media not all and (min-resolution:.001dpcm) {
      section#song:not(p) {
        visibility: visible;
        line-height: inherit;
      }
    }
  }
}

@media (min-width: 48rem) {
  main {
    article {
      section {
        p {
          white-space: pre-wrap;
          text-overflow: inherit;
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  main {
    article {
    }
  }
}

@media (display-mode: fullscreen) {
  main {
    padding: 2rem 2rem 0;
    article {
      padding: 0 2rem;
    }
  }
}


// COLUMNS
@media (min-width: 48rem) {
  main {
    article {
      section {
        &.sm {
          column-count: 2;
          column-gap: 2rem;
        }
        &.md, &.lg {
          column-count: 3;
          column-gap: 2rem;
        }
        &.sm.md {
          column-count: 2;
          column-gap: 2rem;
        }
        &.md.lg {
          column-count: 3;
          column-gap: 2rem;
          &.sm {
            column-count: 2;
          }
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  main {
    article {
      section {
        &.sm.md {
          column-count: 3;
        }
        &.md.lg {
          column-count: 4;
          &.sm {
            column-count: 4;
          }
        }
        &.lg {
          column-count: 5;
        }
      }
    }
  }
}


// INDEX
main.index {
  padding-top: 12rem;
  article {
    section {
      h1, h2, h3 {
        column-span: all;
      }
      h3 {
        padding: 1rem 0 0;
      }
      p {
        overflow: hidden;
        padding: 0;
        line-height: 1.5;
        break-before: avoid;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
          font-weight: normal;
        }
      }
      h2 + p {
        padding: 0;
        font-size: 1rem;
        line-height: 1.125;
        column-span: all;
      }
      h4 {
        padding: 1rem 0 0;
        font-size: 1.25rem;
      }
      ul {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(100% + 1rem);
        margin: 0 0 0 -0.5rem;
        padding: 0;
        list-style: none;
        li {
          display: flex;
          flex-direction: column;
          overflow: hidden;
          width: 100%;
          margin: 1rem 0.5rem 0;
          padding: 1rem;
          border: 1px solid;
          border-radius: 0.25rem;
          input {
            position: absolute;
            left: -100vw;
          }
          label {
            display: flex;
            flex-direction: row;
            align-items: center;
            overflow: hidden;
            padding: 0;
            font-size: 1rem;
            line-height: 1.25;
            cursor: pointer;
            span.image {
              display: grid;
              overflow: hidden;
              width: 4rem;
              min-width: 4rem;
              margin-right: 1rem;
              border-radius: 0.25rem;
            }
          }
        }
        section {
          width: calc(100% - 5rem);
          height: 0;
          max-height: 0;
          margin: 0 0 0 5rem;
          padding: 0;
          @include transition(all, 0.325s, ease);
          @include transform(translateY(100vh));
          p {
            overflow: hidden;
            width: 100%;
            margin: 0;
            padding: 0;
            border: none;
            white-space: nowrap;
            a {
              overflow: hidden;
              font-weight: normal;
              text-overflow: ellipsis;
              span.artist {
                width: 100%
              }
              span.album {
                display: none;
              }
            }
          }
        }
        input:checked ~ section {
          height: auto;
          max-height: 100vh;
          @include transform(translateY(0));
          p {
            padding: 0.5rem 0;
          }
        }
      }
      ul.manual {
        display: block;
        width: 100%;
        margin: 0;
        li {
          width: 100%;
          min-width: 100%;
          margin: 0;
          padding: 1rem 0;
          border: none;
          span.performer {
            font-size: 1.125rem;
          }
          ul {
            display: block;
            width: 100%;
            margin: 0;
            li {
              width: 100%;
              padding: 0;
              a {
                font-weight: normal;
                span.album {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 48rem) {
  main.index {
    padding-top: 8rem;
    article {
      section {
        ul li {
          width: calc(50% - 1rem);
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  main.index {
    article {
      section {
        ul li {
          width: calc((100% / 3) - 1rem);
        }
      }
    }
  }
}

@media (min-width: 90rem) {
  main.index {
    article {
      section {
        ul li {
          width: calc(25% - 1rem);
          label {
            font-size: 1.125rem;
          }
        }
      }
    }
  }
}

@media (min-width: 116rem) {
  main.index {
    article {
      section {
        ul li {
          width: calc(20% - 1rem);
        }
      }
    }
  }
}

html.dark {
  main.index {
    article {
      section {
      }
    }
  }
}


// CLOCK
.clock {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 0.25rem 1rem 0 0;
  background-color: white;
}

@media (display-mode: fullscreen) {
  .clock {
    padding: 2rem 4rem 0 0;
  }
}


// CLOCK DARK MODE
html.dark {
  .clock {
    color: white;
    background-color: $gray;
  }
}


// BADGES
span.badge {
  display: inline-flex;
  margin-left: 0.5rem;
  padding: 0.125rem 0.25rem;
  border-radius: 2rem;
  font-size: 0.675rem;
  line-height: 1;
  color: white;
  background: $gray;
}


// BADGES DARK MODE
html.dark {
  span.badge {
    color: $gray;
    background: white;
  }
}


// ALERTS
.alert {
  display: grid;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  @include transition(all, 0.5s, ease);
  @include transform(translateY(-100vh));
  &.show {
    @include transform(translateY(0));
  }
  .message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    max-width: 100vw;
    margin: 0 auto;
    padding: 1rem;
    border-radius: 0 0 0.25rem 0.25rem;
    &.note {
      color: white;
      background: $gray;
    }
    p {
      padding: 0 1rem 0 0.25rem;
    }
    span, button {
      display: grid;
      max-width: 2rem;
      max-height: 2rem;
      svg {
        width: 100%;
        height: auto;
      }
      &.close {
        max-width: 1.5rem;
        max-height: 1.5rem;
        cursor: pointer;
        @include transition(opacity, 0.25s, ease);
        &:hover, &:focus {
          opacity: 0.5;
        }
      }
    }
  }
}


// ALERTS DARK MODE
html.dark {
  .alert {
    .message {
      &.note {
        color: black;
        background: white;
      }
    }
  }
}


// ALERTS INFO BUTTON
.info {
  display: grid;
  position: absolute;
  top: 3rem;
  right: 1rem;
  margin: 0;
  padding: 0;
  button, a {
    appearance: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    margin: auto;
    padding: 0;
    border: 1px solid $gray;
    border-radius: 100%;
    font-weight: bold;
    color: $gray;
    background: white;
    &:hover, &:focus {
      color: white;
      background: $gray;
    }
  }
  a {
    padding: 0.5rem;
    svg {
      width: 100%;
      height: 100%;
      stroke-width: 2.5;
    }
  }
}

.info.go-to-search {
  top: 4rem;
  right: 2rem;
}

@media (display-mode: fullscreen) {
  .info {
    top: 2rem;
    right: 4rem;
  }
  .info.go-to-search {
    top: 4rem;
    right: 5rem;
  }
}


// ALERTS INFO BUTTON DARK MODE
html.dark {
  .info {
    button, a {
      border-color: white;
      color: white;
      background: $gray;
      &:hover, &:focus {
        color: $gray;
        background: white;
      }
    }
  }
}


// WELCOME
.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 8rem 0 0;
  background: white;
  @include transition(all, 0.5s, ease);
  @include transform(translateY(0));
  .logo {
    width: 100%;
    padding: 0;
    text-align: center;
    svg {
      max-width: 21rem;
      opacity: 0;
      @include transition(all, 0.5s, ease);
      .white {
        fill: white;
      }
      .gray {
        fill: $gray;
      }
    }
  }
  button.dismiss-welcome {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    margin: 1rem auto 0;
    padding: 1rem;
    opacity: 0;
    @include transition(all, 0.25s, ease);
    span.icon {
      width: 2rem;
      height: 2rem;
      margin: 0.5rem 0;
    }
  }
  &.dismissed {
    z-index: 0;
    max-height: 0;
    min-height: 0;
    padding: 0;
    opacity: 0;
    @include transform(translateY(-100vh));
    button.dismiss-welcome {
      display: none;
    }
  }
}

body.visible {
  .welcome {
    .logo {
      svg {
        opacity: 1;
      }
    }
    button.dismiss-welcome {
      opacity: 1;
      &:hover, &:focus {
        opacity: 0.7;
      }
    }
  }
}

html.dark {
  .welcome {
    background: $gray;
    .logo {
      svg {
        .white {
          fill: $gray;
        }
        .gray {
          fill: white;
        }
      }
    }
  }
}

@media (min-width: 64rem) {
  .welcome {
    .logo {
      svg {
        max-width: 28rem;
      }
    }
  }
}

@media (min-width: 120rem) {
  .welcome {
    .logo {
      svg {
        max-width: 34rem;
      }
    }
  }
}
