// MIXINS
@mixin transition($property: all, $duration: 0.325s, $easing: ease, $delay: 0s) {
  -webkit-transition: $property $duration $easing $delay;
  -moz-transition: $property $duration $easing $delay;
  -ms-transition: $property $duration $easing $delay;
  -o-transition: $property $duration $easing $delay;
  transition: $property $duration $easing $delay;
};

@mixin transform($transform: all) {
  -webkit-transform: $transform;
  -moz-transform: $transform;
  -ms-transform: $transform;
  -o-transform: $transform;
  transform: $transform;
};

@mixin appearance($appearance: all) {
  -webkit-appearance: $appearance;
  -moz-appearance: $appearance;
  -ms-appearance: $appearance;
  -o-appearance: $appearance;
  appearance: $appearance;
};
