// TYPOGRAPHY
h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1, h2, h3, h4, h5 {line-height: 1.125;}

h1 {font-size: 1.953rem;}
h2 {font-size: 1.563rem;}
h3 {font-size: 1.25rem;}
h4 {font-size: 1rem;}
h5 {font-size: 0.8rem;}

p {
  margin: 0;
  padding: 1rem 0 0;
  font-size: 1rem;
}

strong, em {display: inline;}

small {
  font-size: 0.8rem;
  line-height: 1.25;
}

.visuallyhidden {display: none;}


// TEXT LINK STYLES
a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  opacity: 1;
  cursor: pointer;
  @include transition(opacity, 0.25s, ease);
  &:hover, &:focus {
    opacity: 0.7;
  }
}
