:root {
  --gray: #333333;
}

html {
  margin: 0 auto;
  padding: 0;
  font-family: "Courier", monospace;
  font-size: 14px;
  line-height: 2;
  color: black;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: none;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  * {
    animation: none !important;
    transition: none !important;
  }
}
body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: white;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

button {
  display: flex;
  appearance: none;
  border: none;
  padding: 0;
  font-family: "Courier", monospace;
  color: inherit;
  background: none;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}

html.dark {
  color: white;
}
html.dark body {
  background: var(--gray);
}

h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  line-height: 1.125;
}

h1 {
  font-size: 1.953rem;
}

h2 {
  font-size: 1.563rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

p {
  margin: 0;
  padding: 1rem 0 0;
  font-size: 1rem;
}

strong, em {
  display: inline;
}

small {
  font-size: 0.8rem;
}

.visuallyhidden {
  display: none;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
  opacity: 1;
  cursor: pointer;
  -webkit-transition: opacity 0.25s ease 0s;
  -moz-transition: opacity 0.25s ease 0s;
  -ms-transition: opacity 0.25s ease 0s;
  -o-transition: opacity 0.25s ease 0s;
  transition: opacity 0.25s ease 0s;
}
a:hover, a:focus {
  opacity: 0.7;
}

header {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100vw;
  margin: 0;
  padding: 2rem;
  background: white;
}
header form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 1rem 0 0;
}
header form fieldset {
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  column-span: all;
}
header form fieldset label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 0.875rem;
  font-weight: bold;
  line-height: 1.5;
}
header form fieldset label input[type=text],
header form fieldset label input[type=search] {
  min-width: auto;
  margin: 0;
  padding: 0.5rem 0.5rem 0.5rem 2.5rem;
  border: 1px solid var(--gray);
  border-radius: 0.25rem;
  font-family: "Courier", monospace;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--gray);
  background: transparent;
}
header form fieldset label span.label {
  display: none;
}
header form fieldset label span.icon {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 2rem;
  height: 2.5rem;
  padding: 0.25rem 0 0.425rem 0.5rem;
  opacity: 0.7;
}
header form fieldset label button[type=reset].clear-search {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0.5rem;
  bottom: 0.25rem;
  width: 1.5rem;
  height: 2.125rem;
  opacity: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
}
header form fieldset label input[type=text]:not(:placeholder-shown) ~ span.clear-search,
header form fieldset label input[type=text]:not(:placeholder-shown) ~ button.clear-search {
  opacity: 0.7;
}
header form fieldset label input[type=text]:not(:placeholder-shown) ~ span.clear-search:hover, header form fieldset label input[type=text]:not(:placeholder-shown) ~ span.clear-search:focus,
header form fieldset label input[type=text]:not(:placeholder-shown) ~ button.clear-search:hover,
header form fieldset label input[type=text]:not(:placeholder-shown) ~ button.clear-search:focus {
  opacity: 1;
}
header form fieldset label input[type=checkbox] {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 1.25rem;
  margin: 0;
  padding: 0;
  border: 1px solid var(--gray);
  border-radius: 2rem;
  appearance: none;
}
header form fieldset label input[type=checkbox]:after {
  display: block;
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  background: var(--gray);
  content: "";
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
header form fieldset label input[type=checkbox]:checked:after {
  margin-left: 1.25rem;
}
header form fieldset + fieldset {
  padding: 1rem 0 0;
}
header h1 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header--fixed {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
}

@media (min-width: 48rem) {
  header {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem;
  }
  header form {
    padding: 0;
  }
}
@media (display-mode: fullscreen) {
  header {
    padding: 4rem 4rem 0;
  }
}
html.dark header {
  background: var(--gray);
}
html.dark header form fieldset input[type=text],
html.dark header form fieldset input[type=search],
html.dark header form fieldset input[type=checkbox] {
  border-color: white;
  color: white;
}
html.dark header form fieldset input[type=text]:after,
html.dark header form fieldset input[type=search]:after,
html.dark header form fieldset input[type=checkbox]:after {
  background: white;
}

.headroom {
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  will-change: transform;
}

.headroom--pinned {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
  transform: translateY(-100vh);
}

main {
  position: relative;
  width: 100%;
  min-height: 50vh;
  padding: 0 1rem;
}
main article {
  position: relative;
  overflow: hidden;
  padding: 0 1rem;
}
main article section {
  overflow: hidden;
}
main article section p {
  overflow: hidden;
  margin: 0;
  break-inside: avoid;
  line-height: 1.125;
  white-space: pre;
  text-overflow: ellipsis;
}
main article section#song:not(p) {
  visibility: hidden;
  line-height: 0;
}
main article section#song p {
  visibility: visible;
}
@media not all and (min-resolution: 0.001dpcm) {
  main article section#song:not(p) {
    visibility: visible;
    line-height: inherit;
  }
}

@media (min-width: 48rem) {
  main article section p {
    white-space: pre-wrap;
    text-overflow: inherit;
  }
}
@media (display-mode: fullscreen) {
  main {
    padding: 2rem 2rem 0;
  }
  main article {
    padding: 0 2rem;
  }
}
@media (min-width: 48rem) {
  main article section.sm {
    column-count: 2;
    column-gap: 2rem;
  }
  main article section.md, main article section.lg {
    column-count: 3;
    column-gap: 2rem;
  }
  main article section.sm.md {
    column-count: 2;
    column-gap: 2rem;
  }
  main article section.md.lg {
    column-count: 3;
    column-gap: 2rem;
  }
  main article section.md.lg.sm {
    column-count: 2;
  }
}
@media (min-width: 90rem) {
  main article section.sm.md {
    column-count: 3;
  }
  main article section.md.lg {
    column-count: 4;
  }
  main article section.md.lg.sm {
    column-count: 4;
  }
  main article section.lg {
    column-count: 5;
  }
}
main.index {
  padding-top: 12rem;
}
main.index article section h1,
main.index article section h2,
main.index article section h3 {
  column-span: all;
}
main.index article section h3 {
  padding: 1rem 0 0;
}
main.index article section p {
  overflow: hidden;
  padding: 0;
  line-height: 1.5;
  break-before: avoid;
  text-overflow: ellipsis;
  white-space: nowrap;
}
main.index article section p a {
  font-weight: normal;
}
main.index article section h2 + p {
  padding: 0;
  font-size: 1rem;
  line-height: 1.125;
  column-span: all;
}
main.index article section h4 {
  padding: 1rem 0 0;
  font-size: 1.25rem;
}
main.index article section ul {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(100% + 1rem);
  margin: 0 0 0 -0.5rem;
  padding: 0;
  list-style: none;
}
main.index article section ul li {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  margin: 1rem 0.5rem 0;
  padding: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
}
main.index article section ul li input {
  position: absolute;
  left: -100vw;
}
main.index article section ul li label {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  padding: 0;
  font-size: 1rem;
  line-height: 1.25;
  cursor: pointer;
}
main.index article section ul li label span.image {
  display: grid;
  overflow: hidden;
  width: 4rem;
  min-width: 4rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
}
main.index article section ul section {
  width: calc(100% - 5rem);
  height: 0;
  max-height: 0;
  margin: 0 0 0 5rem;
  padding: 0;
  -webkit-transition: all 0.325s ease 0s;
  -moz-transition: all 0.325s ease 0s;
  -ms-transition: all 0.325s ease 0s;
  -o-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
  -webkit-transform: translateY(100vh);
  -moz-transform: translateY(100vh);
  -ms-transform: translateY(100vh);
  -o-transform: translateY(100vh);
  transform: translateY(100vh);
}
main.index article section ul section p {
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
  white-space: nowrap;
}
main.index article section ul section p a {
  overflow: hidden;
  font-weight: normal;
  text-overflow: ellipsis;
}
main.index article section ul section p a span.artist {
  width: 100%;
}
main.index article section ul section p a span.album {
  display: none;
}
main.index article section ul input:checked ~ section {
  height: auto;
  max-height: 100vh;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
main.index article section ul input:checked ~ section p {
  padding: 0.5rem 0;
}
main.index article section ul.manual {
  display: block;
  width: 100%;
  margin: 0;
}
main.index article section ul.manual li {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 1rem 0;
  border: none;
}
main.index article section ul.manual li span.performer {
  font-size: 1.125rem;
}
main.index article section ul.manual li ul {
  display: block;
  width: 100%;
  margin: 0;
}
main.index article section ul.manual li ul li {
  width: 100%;
  padding: 0;
}
main.index article section ul.manual li ul li a {
  font-weight: normal;
}
main.index article section ul.manual li ul li a span.album {
  display: none;
}

@media (min-width: 48rem) {
  main.index {
    padding-top: 8rem;
  }
  main.index article section ul li {
    width: calc(50% - 1rem);
  }
}
@media (min-width: 64rem) {
  main.index article section ul li {
    width: calc(33.3333333333% - 1rem);
  }
}
@media (min-width: 90rem) {
  main.index article section ul li {
    width: calc(25% - 1rem);
  }
  main.index article section ul li label {
    font-size: 1.125rem;
  }
}
@media (min-width: 116rem) {
  main.index article section ul li {
    width: calc(20% - 1rem);
  }
}
.clock {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  padding: 0.25rem 1rem 0 0;
  background-color: white;
}

@media (display-mode: fullscreen) {
  .clock {
    padding: 2rem 4rem 0 0;
  }
}
html.dark .clock {
  color: white;
  background-color: var(--gray);
}

span.badge {
  display: inline-flex;
  margin-left: 0.5rem;
  padding: 0.125rem 0.325rem;
  border-radius: 2rem;
  font-size: 0.625rem;
  line-height: 1;
  color: white;
  background: var(--gray);
}

html.dark span.badge {
  color: var(--gray);
  background: white;
}

.alert {
  display: grid;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100vw;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
  transform: translateY(-100vh);
}
.alert.show {
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.alert .message {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  max-width: 100vw;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0 0 0.25rem 0.25rem;
}
.alert .message.note {
  color: white;
  background: var(--gray);
}
.alert .message p {
  padding: 0 1rem 0 0.25rem;
}
.alert .message span,
.alert .message button {
  display: grid;
  max-width: 2rem;
  max-height: 2rem;
}
.alert .message span svg,
.alert .message button svg {
  width: 100%;
  height: auto;
}
.alert .message span.close,
.alert .message button.close {
  max-width: 1.5rem;
  max-height: 1.5rem;
  cursor: pointer;
  -webkit-transition: opacity 0.25s ease 0s;
  -moz-transition: opacity 0.25s ease 0s;
  -ms-transition: opacity 0.25s ease 0s;
  -o-transition: opacity 0.25s ease 0s;
  transition: opacity 0.25s ease 0s;
}
.alert .message span.close:hover, .alert .message span.close:focus,
.alert .message button.close:hover,
.alert .message button.close:focus {
  opacity: 0.5;
}

html.dark .alert .message.note {
  color: black;
  background: white;
}

.info {
  display: grid;
  position: absolute;
  top: 3rem;
  right: 1rem;
  margin: 0;
  padding: 0;
}
.info button,
.info a {
  appearance: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: auto;
  padding: 0;
  border: 1px solid var(--gray);
  border-radius: 100%;
  font-weight: bold;
  color: var(--gray);
  background: white;
}
.info button:hover, .info button:focus,
.info a:hover,
.info a:focus {
  color: white;
  background: var(--gray);
}
.info a {
  padding: 0.5rem;
}
.info a svg {
  width: 100%;
  height: 100%;
  stroke-width: 2.5;
}

.info.go-to-search {
  top: 4rem;
  right: 2rem;
}

@media (display-mode: fullscreen) {
  .info {
    top: 5rem;
    right: 4rem;
  }
  .info.go-to-search {
    top: 4rem;
    right: 5rem;
  }
}
html.dark .info button,
html.dark .info a {
  border-color: white;
  color: white;
  background: var(--gray);
}
html.dark .info button:hover, html.dark .info button:focus,
html.dark .info a:hover,
html.dark .info a:focus {
  color: var(--gray);
  background: white;
}

.welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 8rem 0 0;
  background: white;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
}
.welcome .logo {
  width: 100%;
  padding: 0;
  text-align: center;
}
.welcome .logo svg {
  max-width: 21rem;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.welcome .logo svg .white {
  fill: white;
}
.welcome .logo svg .gray {
  fill: var(--gray);
}
.welcome button.dismiss-welcome {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 1rem auto 0;
  padding: 1rem;
  opacity: 0;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.welcome button.dismiss-welcome span.icon {
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0;
}
.welcome.dismissed {
  z-index: 0;
  max-height: 0;
  min-height: 0;
  padding: 0;
  opacity: 0;
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
  transform: translateY(-100vh);
}
.welcome.dismissed button.dismiss-welcome {
  display: none;
}

body.visible .welcome .logo svg {
  opacity: 1;
}
body.visible .welcome button.dismiss-welcome {
  opacity: 1;
}
body.visible .welcome button.dismiss-welcome:hover, body.visible .welcome button.dismiss-welcome:focus {
  opacity: 0.7;
}

html.dark .welcome {
  background: var(--gray);
}
html.dark .welcome .logo svg .white {
  fill: var(--gray);
}
html.dark .welcome .logo svg .gray {
  fill: white;
}

@media (min-width: 64rem) {
  .welcome .logo svg {
    max-width: 28rem;
  }
}
@media (min-width: 120rem) {
  .welcome .logo svg {
    max-width: 34rem;
  }
}
main.setlists {
  padding-top: 6rem;
}
main.setlists section {
  position: relative;
  padding: 2rem 0;
}
main.setlists section:before {
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  background-color: var(--gray);
  content: "";
}
main.setlists section:first-of-type {
  padding-top: 1rem;
}
main.setlists section:first-of-type:before {
  display: none;
}
main.setlists section ul {
  margin: 0;
  padding: 1rem 0 0;
  list-style-type: none;
}
main.setlists section ul:first-of-type {
  padding-top: 0.25rem;
}
main.setlists section ul li {
  line-height: 1.75;
}
main.setlists section ul li:first-of-type {
  text-transform: uppercase;
}

html.dark main.setlists section:before {
  background-color: white;
}

@media (min-width: 48rem) {
  main.setlists section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  main.setlists section ul {
    max-width: 50%;
    min-width: 33.3333333333%;
    padding: 0.5rem 0 0 2rem;
  }
  main.setlists section ul:first-of-type {
    padding: 0.5rem 0 0 0;
  }
}
footer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1rem;
}
footer section {
  padding: 1rem;
}
footer section p {
  padding: 0.25rem 0 0;
  font-size: 0.875rem;
  line-height: 1.5;
}
footer section.details figure {
  display: grid;
  max-width: 7.75rem;
  margin: 0;
}
footer section.details figure img {
  border-radius: 0.5rem;
}
footer section.details figure figcaption {
  display: none;
}
footer section.details ul {
  margin: 0;
  padding: 1rem 0;
  list-style: none;
}
footer section.details ul li {
  padding: 0.25rem 0;
  line-height: 1.25;
}
footer section.details ul li span {
  display: inline-block;
  padding: 0 0.5rem 0 0;
  font-weight: bold;
}
footer section.details form {
  display: none;
}
footer section.about {
  display: flex;
  flex-direction: column;
}
footer section.about svg {
  max-width: 36rem;
  fill: var(--gray);
}
footer section.about .logo {
  display: flex;
  justify-content: center;
  padding: 1rem 1rem 0;
}
footer section.about .logo svg {
  width: 100%;
  max-width: 18rem;
}
footer section.about .logo svg .white {
  fill: white;
}
footer section.about .logo svg .gray {
  fill: var(--gray);
}
footer p.copyright {
  padding: 1rem;
  line-height: 1.25;
  text-align: center;
}
footer nav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}
footer nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0 1rem;
  list-style: none;
}
footer nav ul li {
  padding: 0 0.5rem;
}
footer nav ul li span.icon {
  display: grid;
  width: 1.25rem;
  height: 1.25rem;
}
footer nav ul li span.text {
  display: none;
}
footer nav form fieldset {
  margin: 0;
  padding: 0 1rem;
  border: none;
}
footer nav form fieldset label {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 0;
}
footer nav form fieldset label span {
  display: grid;
  width: 1.25rem;
  height: 1.25rem;
}
footer nav form fieldset label input {
  position: relative;
  top: 0;
  right: 0;
  width: 2.5rem;
  min-width: 2.5rem;
  height: 1.25rem;
  margin: 0 0.5rem;
  padding: 0;
  border: 1px solid var(--gray);
  border-radius: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
footer nav form fieldset label input:after {
  display: block;
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 100%;
  background: var(--gray);
  content: "";
  -webkit-transition: all 0.25s 0 0.325s ease 0s;
  -moz-transition: all 0.25s 0 0.325s ease 0s;
  -ms-transition: all 0.25s 0 0.325s ease 0s;
  -o-transition: all 0.25s 0 0.325s ease 0s;
  transition: all 0.25s 0 0.325s ease 0s;
}
footer nav form fieldset label input:checked:after {
  margin-left: 1.25rem;
}

@media (min-width: 48rem) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 4rem;
  }
  footer section.details {
    width: 33.3333333333%;
  }
  footer section.about {
    align-items: flex-end;
    width: 66.6666666667%;
  }
  footer section.about .logo {
    justify-content: flex-end;
  }
  footer p.copyright {
    text-align: right;
  }
  footer nav {
    margin: 0 0 0 auto;
  }
}
@media (min-width: 64rem) {
  footer {
    align-items: flex-start;
  }
  footer section.about {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer section.about .text {
    width: 65%;
  }
  footer section.about .logo {
    width: 30%;
    padding: 0 0 0 1rem;
  }
}
@media (min-width: 90rem) {
  footer section.details {
    width: 25%;
    max-width: none;
  }
  footer section.about {
    width: 70%;
  }
}
@media (display-mode: fullscreen) {
  footer {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
html.dark footer section.about svg {
  fill: white;
}
html.dark footer section.about .logo svg .white {
  fill: var(--gray);
}
html.dark footer section.about .logo svg .gray {
  fill: white;
}
html.dark footer nav form input {
  border-color: white;
}
html.dark footer nav form input:after {
  background: white;
}