<!DOCTYPE html>
<html>
  <head>
    <%- include('includes/head', { title }); %>
    <style>
      main {
        padding-top: 1rem;
      }
      h1, h2, h3, p {
        padding: 1rem 0 0;
        column-span: all;
      }
      @media (min-width: 48rem) {
        main ul {
          column-count: 2;
          column-gap: 2rem;
        }
        main ul li a {
          text-decoration: none;
        }
      }
    </style>
  </head>
  <body class="hidden">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TF6BNKF"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <main>
      <article>
        <h1>Welcome to <%= title %></h1>
        <p>This is the temporary index for the new version of <%= title %>.</p>
        <h3>Current list:</h3>
        <ul style="padding-top: 2rem;">
          <li><a href='songs/beck-asshole.html' target='_blank'>Asshole by Beck</a></li>
          <li><a href='songs/beck-girl.html' target='_blank'>Girl by Beck</a></li>
          <li><a href='songs/beck-lost-cause.html' target='_blank'>Lost Cause by Beck</a></li>
          <li><a href='songs/camper-van-beethoven-51-7.html' target='_blank'>51-7 by Camper Van Beethoven</a></li>
          <!-- <li><a href='songs/camper-van-beethoven-pictures-of-matchstick-men.html' target='_blank'>Pictures Of Matchstick Men by Camper Van Beethoven</a></li> -->
          <li><a href='songs/camper-van-beethoven-take-the-skinheads-bowling.html' target='_blank'>Take The Skinheads Bowling by Camper Van Beethoven</a></li>
          <li><a href='songs/cracker-euro-trash-girl.html' target='_blank'>Euro Trash Girl by Cracker</a></li>
          <li><a href='songs/cracker-get-off-this.html' target='_blank'>Get Off This by Cracker</a></li>
          <li><a href='songs/cracker-it-aint-gonna-suck-itself.html' target='_blank'>It Ain't Gonna Suck Itself by Cracker</a></li>
          <li><a href='songs/creedence-clearwater-revival-lodi.html' target='_blank'>Lodi by Creedence Clearwater Revival</a></li>
          <li><a href='songs/george-harrison-cheer-down.html' target='_blank'>Cheer Down by George Harrison</a></li>
          <li><a href='songs/john-prine-pretty-good.html' target='_blank'>Pretty Good by John Prine</a></li>
          <li><a href='songs/men-at-work-i-can-see-it-in-your-eyes.html' target='_blank'>I Can See It In Your Eyes by Men At Work</a></li>
          <li><a href='songs/men-at-work-overkill.html' target='_blank'>Overkill by Men At Work</a></li>
          <li><a href='songs/men-at-work-people-just-love-to-play-with-words.html' target='_blank'>People Just Love To Play With Words by Men At Work</a></li>
          <li><a href='songs/phish-ac-dc-bag.html' target='_blank'>AC/DC Bag by Phish</a></li>
          <li><a href='songs/phish-driver.html' target='_blank'>Driver by Phish</a></li>
          <li><a href='songs/phish-heavy-things.html' target='_blank'>Heavy Things by Phish</a></li>
          <li><a href='songs/phish-pebbles-and-marbles.html' target='_blank'>Pebbles and Marbles by Phish</a></li>
          <li><a href='songs/phish-prince-caspian.html' target='_blank'>Prince Caspian by Phish</a></li>
          <li><a href='songs/phish-sample-in-a-jar.html' target='_blank'>Sample In A Jar by Phish</a></li>
          <li><a href='songs/phish-theme-from-the-bottom.html' target='_blank'>Theme From The Bottom by Phish</a></li>
          <li><a href='songs/the-hollies-long-cool-woman-in-a-black-dress.html' target='_blank'>Long Cool Woman In A Black Dress by The Hollies</a></li>
        </ul>
      </article>
    </main>
    <footer>
      <section class="details">
        <form>
          <fieldset>
            <label for="switch-theme">Theme<input type="checkbox" name="switch-theme" class="switch" id="switch-theme"></label>
          </fieldset>
        </form>
      </section>
      <%- include('includes/footer-about'); %>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="assets/js/site.js"></script>
    <script>
      // CHANGE CSS WHEN PAGE LOADS
      $(document).ready(function(){
        $("body").addClass("visible");
        $("body").removeClass("hidden");
      });
    </script>
  </body>
</html>
