html {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.3;
  color: #333333;
  background: #333333;
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
  * {
    -webkit-animation: none !important;
            animation: none !important;
    -webkit-transition: none !important;
    transition: none !important;
  }
}

body, .body {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

body.open {
  position: fixed;
  height: 100%;
  max-height: 100vh;
  overflow-y: hidden;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  margin: 0;
}

@media (min-width: 64rem), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx), (-webkit-min-device-pixel-ratio: 1.1) {
  html {
    font-size: 14px;
  }
}

/* 
  NOTES:  
  All typography is set to a 1.250 Major-Third type-scale
*/
h1, h2, h3, h4, h5, p {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  color: inherit;
}

h1, h2, h3, h4, h5 {
  line-height: 1.125;
}

h1 {
  font-size: 1.953rem;
}

h2 {
  font-size: 1.563rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.8rem;
}

p {
  margin: 0;
  padding: 1rem 0 0;
  font-size: 1rem;
}

strong, em {
  display: inline;
}

small {
  font-size: 0.8rem;
}

.visuallyhidden {
  display: none;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
}

nav {
  width: 100%;
  max-height: 4rem;
  padding: 1rem;
  background: #faa61a;
}

nav button.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 0 auto;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

nav button.menu-toggle svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: #333333;
}

nav button.menu-toggle svg.menu-toggle-open {
  -webkit-transition: width 0.25s ease 0s;
  transition: width 0.25s ease 0s;
}

nav button.menu-toggle svg.menu-toggle-close {
  width: 0;
  -webkit-transition: width 0.25s ease 0s;
  transition: width 0.25s ease 0s;
}

nav h2, nav p, nav ul {
  -webkit-transform: translateX(-150rem);
  transform: translateX(-150rem);
  -webkit-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
}

nav h2, nav p {
  width: 0;
  height: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
}

nav h2:before {
  display: block;
  width: 0;
  height: 1px;
  background: #333333;
  margin: 0;
  content: "";
}

nav p a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  margin: 0;
  padding: 0;
  font-size: 1.563rem;
  color: #333333;
}

nav p a img {
  width: 0;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 0;
  max-height: 0;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.69rem 0.69rem 0 0;
  -webkit-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
}

nav ul li img {
  display: none;
}

nav ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.69rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #333333;
}

@media (min-width: 48rem) {
  nav button.menu-toggle svg {
    width: 2rem;
    height: 2rem;
  }
  nav h2 {
    display: block;
  }
  nav h2, nav p {
    position: relative;
    width: auto;
    height: auto;
    max-height: 100%;
  }
  nav p a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: auto;
    font-size: 3.052rem;
    color: #333333;
    -webkit-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s;
  }
  nav p a .overlay {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background: black;
    opacity: 0.1;
    -webkit-transition: all 0.325s ease 0s;
    transition: all 0.325s ease 0s;
  }
  nav p a img {
    width: 6rem;
    margin: 0 1rem 0 0;
    border: 2px solid white;
    border-radius: 100%;
  }
  nav p a:hover, nav p a:focus {
    color: #fbf9fa;
  }
  nav p a:hover .overlay, nav p a:focus .overlay {
    opacity: 0;
  }
  nav ul li {
    margin: 0.8rem 0.8rem 0 0;
    padding: 0 0.8rem 0 0;
    border: 2px solid white;
    border-radius: 2rem;
    background: white;
  }
  nav ul li:hover {
    background: #f6f4ed;
  }
  nav ul li img {
    display: -ms-grid;
    display: grid;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.4rem 0 0;
    border-radius: 100%;
  }
  nav ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
    text-transform: none;
  }
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  margin: 0;
  padding: 0;
}

.headroom {
  -webkit-transition: all 0.325s ease 0s;
  transition: all 0.325s ease 0s;
  will-change: transform;
}

.headroom--pinned {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.headroom--unpinned {
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

header.open nav {
  height: 100vh;
  max-height: 100vh;
}

header.open nav button.menu-toggle svg.menu-toggle-open {
  width: 0;
}

header.open nav button.menu-toggle svg.menu-toggle-close {
  width: 2rem;
}

header.open nav h2, header.open nav p, header.open nav ul {
  width: 100%;
  height: auto;
  max-height: 100%;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

header.open nav h2 {
  margin: 1rem 0 0;
}

header.open nav h2:before {
  width: 100%;
  margin: 1rem 0 1rem 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0 0;
  padding: 2rem;
  background: #333333;
  color: white;
}

footer h2 {
  position: relative;
  line-height: inherit;
  text-indent: -100rem;
}

footer h2 svg {
  position: absolute;
  left: 0;
  width: auto;
  max-width: 100%;
  height: auto;
  fill: white;
}

footer section p {
  padding: 1rem 0 0;
  font-size: 0.8rem;
  line-height: 1.875;
  text-align: left;
}

footer .logo {
  margin: 2rem 0 0;
  text-align: center;
}

footer .logo svg {
  width: 60%;
  max-width: 10rem;
}

footer .logo p {
  font-size: 0.64rem;
}

@media (min-width: 48rem) {
  footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer section p {
    font-size: 1rem;
    padding: 2rem 0 0;
  }
  footer .logo {
    min-width: calc(50% - 2rem);
    padding: 0 0 0 2rem;
    text-align: right;
  }
  footer .logo svg {
    max-width: none;
  }
}

@media (min-width: 64rem) {
  footer section p {
    padding: 3rem 0 0;
    font-size: 1.1rem;
    line-height: 2;
  }
}

@media (min-width: 90rem) {
  footer section p {
    padding: 5rem 0 0;
    font-size: 1.25rem;
  }
  footer .logo p {
    font-size: 1rem;
  }
}

main {
  padding: 1rem 0;
  background: #faa61a;
}

main section.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

main section.welcome .logo {
  width: 50vh;
}

@media (min-width: 40rem) {
  main section.welcome .logo {
    width: 60vh;
  }
}

/* SECTIONS */
main section.songs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0 0.5rem;
}

main section.songs h1 {
  width: calc(100% - 2rem);
  margin: 4rem auto 0;
  color: white;
}

main section.songs h1 span {
  display: inline-block;
  margin: 0 0 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  text-transform: uppercase;
}

main section.songs h2 {
  margin: 2rem 0 0;
  padding: 0 0.5rem;
  font-size: 2.441rem;
}

main section.songs h2 img {
  display: none;
  width: 5rem;
  height: 5rem;
  margin: 0 0.8rem 0 0;
  border: 2px solid white;
  border-radius: 100%;
}

.artist, .album {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: calc(100% - 1rem);
  overflow: hidden;
  margin: 1rem 0.5rem 0;
  padding: 0;
  border: 1px solid #fbf9fa;
  border-radius: 0.25rem;
  background: white;
  cursor: pointer;
}

.artist input, .album input {
  display: none;
}

.artist label, .album label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  cursor: pointer;
}

.artist label span.image, .album label span.image {
  display: -ms-grid;
  display: grid;
  width: 4rem;
  height: 4rem;
  margin: 0 1rem 0 0;
}

.artist label span.image img, .album label span.image img {
  border-radius: 100%;
}

.artist label span.performer, .artist label span.title, .album label span.performer, .album label span.title {
  display: block;
  width: calc(100% - 6.5rem);
  font-size: 1.25rem;
  font-weight: 700;
}

.artist input:focus + label, .artist input:not(:placeholder-shown) + label, .album input:focus + label, .album input:not(:placeholder-shown) + label {
  font-size: 1rem;
}

.artist input:not(:placeholder-shown) + label, .artist input:focus + label, .album input:not(:placeholder-shown) + label, .album input:focus + label {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.artist .songs, .album .songs {
  width: 100%;
  height: auto;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  -webkit-transition: max-height 0.325s ease 0s;
  transition: max-height 0.325s ease 0s;
}

.artist .songs ul, .album .songs ul {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
}

.artist .songs ul li a, .album .songs ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
  width: 100%;
  padding: 1rem;
  white-space: nowrap;
}

.artist .songs ul li a span.song, .album .songs ul li a span.song {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
}

.artist .songs ul li a span.album, .album .songs ul li a span.album {
  display: none;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist .songs ul li a:after, .album .songs ul li a:after {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background: #d8d8d8;
  content: "";
}

.artist .songs ul li a:hover, .album .songs ul li a:hover {
  background: #fbf9fa;
}

.artist .songs ul li:last-of-type a:after, .album .songs ul li:last-of-type a:after {
  display: none;
}

.artist input:checked ~ .songs,
.album input:checked ~ .songs {
  max-height: 100rem;
}

@media (min-width: 40rem) {
  .artist, .album {
    width: calc(50% - 1rem);
  }
}

@media (min-width: 64rem) {
  .artist, .album {
    width: calc(33.3% - 1rem);
  }
}

@media (min-width: 88rem) {
  .artist, .album {
    width: calc(25% - 1rem);
  }
}

@media (min-width: 112rem) {
  .artist, .album {
    width: calc(20% - 1rem);
  }
}

article.chords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100% - 2rem);
  margin: 0 1rem 0;
  padding: 1rem 1rem 0;
  border: 1px solid #fbf9fa;
  border-radius: 0.25rem;
  background: white;
  font-family: "Courier", monospace;
}

article.chords h2 + p {
  padding: 0 0 1rem;
}

article.chords h2 {
  letter-spacing: -0.05rem;
}

article.chords p span {
  font-weight: bold;
}

article.chords .details {
  display: inline-block;
  width: 100%;
  margin: 1rem 0 0;
}

article.chords .details p {
  position: relative;
  padding: 0 0 1.25rem;
  line-height: 2;
}

article.chords .details p span.chords {
  display: inline-block;
  position: relative;
  top: -1rem;
  width: 0;
  font-weight: bold;
  line-height: 1;
}

article.chords .details p.stretch {
  width: 100%;
}

article.chords .details p.stretch span.chords {
  top: 0;
  width: auto;
}

article.chords .details:after {
  display: block;
  width: 100%;
  height: 1px;
  margin: 0 0 1rem;
  background: #d8d8d8;
  content: "";
}

article.chords .details:last-child:after {
  display: none;
}

article.chords .details.simple p {
  line-height: 1;
}

article.chords .details.simple p:last-of-type {
  padding: 0 0 1rem;
}

article.chords .details.simple p span.chords {
  width: auto;
}

article.chords .details.simple p:first-of-type {
  padding: 0;
}

article.chords .details.simple p.stretch {
  padding: 0;
}

article.chords .details.simple p.stretch:last-of-type {
  padding: 0 0 1rem;
}

article.chords h2, article.chords p {
  -webkit-column-span: all;
          column-span: all;
}

article.chords .details p {
  -webkit-column-span: none;
          column-span: none;
}

@media (min-width: 40rem) {
  article.chords {
    display: block;
    -webkit-columns: 2;
            columns: 2;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    -webkit-column-width: calc((100vw / 2) - 4rem);
            column-width: calc((100vw / 2) - 4rem);
  }
}

@media (min-width: 64rem) {
  article.chords {
    -webkit-columns: 3;
            columns: 3;
    -webkit-column-width: calc((100vw / 3) - 8rem);
            column-width: calc((100vw / 3) - 8rem);
  }
}

@media (min-width: 74rem) {
  article.chords.lg {
    -webkit-columns: 4;
            columns: 4;
    -webkit-column-width: calc((100vw / 4) - 12rem);
            column-width: calc((100vw / 4) - 12rem);
  }
  article.chords.xl {
    -webkit-columns: 5;
            columns: 5;
    -webkit-column-width: calc((100vw / 5) - 16rem);
            column-width: calc((100vw / 5) - 16rem);
  }
}
/*# sourceMappingURL=master.css.map */